body{
    margin:0;
    font-family:'Space Grotesk', sans-serif;
    background:radial-gradient(circle at top,#0f172a,#020617);
    color:#e2e8f0;
    overflow-x:hidden;
}

canvas{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

header{
    text-align:center;
    padding:70px 20px;
}

header h1{
    font-family:'Playfair Display', serif;
    font-size:3rem;
    color:#7dd3fc;
    letter-spacing:1px;

    text-shadow:
    0 0 6px rgba(125,211,252,0.6),
    0 0 16px rgba(56,189,248,0.4);
}

header p{
    color:#94a3b8;
    font-size:1.1rem;
}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card{
    background:rgba(15,23,42,0.6);
    backdrop-filter:blur(6px);
    margin:20px 0;
    padding:25px;
    border-radius:14px;
    border:1px solid rgba(125,211,252,0.15);
    transition:all .35s ease;
}

.card:hover{
    transform:translateY(-5px);
    border:1px solid rgba(125,211,252,0.4);
    box-shadow:0 0 18px rgba(56,189,248,0.25);
}

h2{
    font-family:'Playfair Display', serif;
    color:#7dd3fc;
}

ul,ol{
    color:#cbd5f5;
}

footer{
    text-align:center;
    padding:30px;
    color:#64748b;
}